<div class="parallax-container">
  <div class="section no-pad-bot">
      <div class = "container">
        <br>
        <br>
        <h1 class="header center white-text light"> FUNDAY </h1>
         <div class="row center">
           <h5 class="header col s12 white-text light"> what the hell should we do ?</h5>
         </div>
         <div class="row center">
           <%= form_for @funday do |f| %>
           <%= f.hidden_field :date, :value => Date.today %>
           <button class="btn indigo lighten-2 waves-effect waves-light" type="submit" name="action"> what's going down today <i class="mdi-content-send right"></i>
           <% end %>
         </div>
         <br>
         <br>
      </div>
  </div>
    <div class="parallax">
    <%= image_tag 'brooklyn-bridge.jpg' %>
  </div>
</div>
  

<div class ="container white">
  <div class="section white">
  <h5>It's been a really long week</h5>
  <hr>
  <div class="row form">
      <div class="col 12">
        <h6 class="madlib"> You were late </h6>
          <div class="input-field">
          <input id="late" type="text">
          <label for="late"> how many times? </label>
          </div>
        <h6 class="madlib">this week.</h6>
        <h6 class="madlib"> The </h6>
          <div class="input-field">
            <input id="subway" type="text">
            <label for="subway"> input lousy subway </label>
          </div>
        <h6 class="madlib">kept being delayed and held up.</h6>
        <h6 class="madlib"> You've been meaning to do </h6>
          <div class="input-field">
            <input id="chore" type="text">
            <label for="chore"> input crappy chore </label>
          </div>
        <h6 class="madlib">but you keep putting it off because you just can't be bothered.</h6>
        <br>
        <br>
        <div class="matdatepicker">
          <%= form_for @funday do |f| %>
        <h6 class="madlib"> Now, what day was it that you have some free time</h6>
        <br>
        <br>
        <label for ="datepicker"> pick a day already </label>
         <%= f.text_field :date, class: "datepicker"%>
          <h6 class="madlib">and where do we even start!</h6>
         </div>
         <button class="btn indigo lighten-2 waves-effect waves-light" type="submit" name="action">Start here <i class="mdi-content-send right"></i>
          </button>
         <% end %>
      </div>
    </div>
</div>
</div>

 <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>