    <div class='valign-wrapper'>
      <ul>
          <br>
          <br>
          <br>
        <l><a class="valign waves-effect waves-light indigo lighten-2 btn-large" href="#morning">Earlyish</a></li>
            <br>
        <li><a class="valign waves-effect waves-light indigo lighten-2 btn-large" href="#afternoon">Noonish</a></li>
            <br>
        <li><a class="valign waves-effect waves-light indigo lighten-2 btn-large" href="#evening">Nightish</a></li>
            <br>
        <li class="valign waves-effect waves-light pink accent-2 btn-large" id="ref_butn">Freshen up</li>
        <br>
        <br>
        <br>
        <br>
        <li>
                <%#= form_for @funday do |f| %>
       <%#= f.text_field :date, class: "datepicker" %>
    <!--<button class="btn indigo lighten-2 waves-effect waves-light" type="submit" name="action">NewDay<i class="mdi-content-send right"></i>-->
       <%# end %>
        </li>
      </ul>
    </div>
    
   
        

<main>
    
     
<div class ="section">

<h2><%= (@funday.date).strftime("%A %d") %> will be a good day </h2>

<!--<button id="ref_butn">Refresh the page now!</button>-->
<button id= "ref_butn" class="btn pink accent-2 waves-effect waves-light"> Freshen your Funday <i class="mdi-content-send right"></i> </button>
<br>
<br>
<h4> Find below some options for you to do on <%= (@funday.date).strftime("%A %d") %></h4>
</div>
      
    <div class = "section">
        <h3><a name='morning'> earlyish things to do</a></h3>
        <div class="row isotope">
            <% @ebparsed["events"].shuffle.each do |event| %>
             <% if (event["start"]["local"]) >= (((@funday.date).strftime("%Y-%m-%d")) + "T09:00:00") && (event["start"]["local"]) <= (((@funday.date).strftime("%Y-%m-%d")) + "T12:59:00") %>
                 <div class="col s12 m4">
                     <div class="card small indigo lighten-1">
                           <div class="card-image activator waves-effect waves-block waves-light">
                               <% if event["logo"] = event["logo"] %>
                                <img class="activator" src=<%= event["logo"]["url"] %> />
                                <% else %>
                                <img class="activator" <%= image_tag("Why.png") %>/>
                                <% end %>
                            </div>
                         <div class="card-content">
                           <h2 class="card-title activator grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-more-vert right"></i></h2>
                        </div>
                         <div class="card-reveal">
                             <span class="card-title grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-close right"></i></span>
                              <%= link_to "Click Here for More Information", (event["url"] if event["url"]), :target => "_blank" %>
                            <p><%= event["description"]["text"] if event["description"] %></p>
                            <p> <%= event["end"]["local"] if event["end"] %></p>
                        </div>
                        
                      </div>
                     </div>
                    <% end %>
                <% end %>
                
        
                <% @timesparsed["results"].shuffle.take(1).each do |event| %>
                <div class="col s12 m4">
                    <div class="card small indigo lighten-2 ">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class= "activator" <%= image_tag("Why.png") %> />
                        </div>
                        <div class="card-content">
                            <h2 class="card-title activator grey-text text-darken-4"><%= strip_tags(event["event_name"]) if event["event_name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= strip_tags(event["event_name"]) %><i class="mdi-navigation-close right"></i></span>
                            <%= link_to "Click Here for More Information", (event["event_detail_url"] if event["event_detail_url"]), :target => "_blank" %>
                            <p><%= strip_tags(event["web_description"]) if event["web_description"] %></p>
                        </div>
                     </div>
                     </div>
                    
                <% end %>

                <% @goparsed["items"].shuffle.take(1).each do |event| %>
                    <div class="col s12 m4">
                          <div class="card small indigo lighten-2 ">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img class= "activator" <%= image_tag("Why.png") %>>
                                 </div>
                                <div class="card-content">
                                   <h2 class="card-title activator grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                                </div>
                             
                                 <div class="card-reveal">
                                     <span class="card-title grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-close right"></i></span>
                                     <%= link_to "Click Here for More Information", (event["permalink"] if event["permalink"]), :target => "_blank" %>
                                    <p><%= strip_tags(event["desc"]) if event["desc"] %></p>
                                </div>
                              </div>
                            </div>
                    <% end %>
                    
        </div>
</div>


<div class = "section">
<h3 class = "title"><a name='afternoon'> noonish things to do</a> </h3>
  <div class="row">
    <% @ebparsed["events"].shuffle.each do |event| %>
 <% if (event["start"]["local"]) >= (((@funday.date).strftime("%Y-%m-%d")) + "T13:00:00") && (event["start"]["local"]) <= (((@funday.date).strftime("%Y-%m-%d")) + "T17:59:00") %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <% if event["logo"] = event["logo"] %>
                                <img class="activator" src=<%= event["logo"]["url"] %> />
                                <% else %>
                                <img class="activator" <%= image_tag("Why.png") %>/>
                                <% end %>
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                <div class="card-action">
                    
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-close right"></i></span>
                     <%= link_to "Click Here for More Information", (event["url"] if event["url"]), :target => "_blank" %>
                    <p><%= event["description"]["text"] if event["description"] %></p>
                </div>
              </div>
            </div>
    <% end %>
<% end %>
<% @timesparsed["results"].shuffle.take(1).each do |event| %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator" <%= image_tag("Why.png") %>>
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= strip_tags(event["event_name"]) if event["event_name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= strip_tags(event["event_name"]) %><i class="mdi-navigation-close right"></i></span>
                      <%= link_to "Click Here for More Information", (event["event_detail_url"] if event["event_detail_url"]), :target => "_blank" %>
                    <p><%= strip_tags(event["web_description"]) if event["web_description"] %></p>
                </div>
              </div>
            </div>

<% end %>
<% @goparsed["items"].shuffle.take(1).each do |event| %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator" <%= image_tag("Why.png") %>>
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-close right"></i></span>
                     <%= link_to "Click Here for More Information", (event["permalink"] if event["permalink"]), :target => "_blank" %>
                    <p><%= strip_tags(event["desc"]) if event["desc"] %></p>
                </div>
              </div>
             </div>
    <% end %>
</div>
</div>

<div class = "section">
<h3 class = "title"><a name='evening'> nightish things to do</a></h3>
    <div class="row">
    <% @ebparsed["events"].shuffle.each do |event| %>
     <% if (event["start"]["local"]) >= (((@funday.date).strftime("%Y-%m-%d")) + "T18:00:00") && (event["start"]["local"]) <= (((@funday.date).strftime("%Y-%m-%d")) + "T23:59:00") %>
                <div class="col s12 m4">
                  <div class="card small indigo lighten-2 ">
                    <div class="card-image waves-effect waves-block waves-light">
                       <% if event["logo"] = event["logo"] %>
                                <img class="activator" src=<%= event["logo"]["url"] %> />
                                <% else %>
                                <img class="activator" <%= image_tag("Why.png") %>/>
                                <% end %>
                     </div>
                    <div class="card-content">
                       <h2 class="card-title activator grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-more-vert right"></i></h2>
                    </div>
                     <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-close right"></i></span>
                          <%= link_to "Click Here for More Information", (event["url"] if event["url"]), :target => "_blank" %>
                        <p><%= event["description"]["text"] if event["description"] %></p>
                    </div>
                  </div>
                </div>
        <% end %>
    <% end %>
<% @timesparsed["results"].shuffle.take(1).each do |event| %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator" <%= image_tag("Why.png")%>>
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= strip_tags(event["event_name"]) if event["event_name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                <div class="card-action">
                  
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= strip_tags(event["event_name"]) %><i class="mdi-navigation-close right"></i></span>
                       <%= link_to "Click Here for More Information", (event["event_detail_url"] if event["event_detail_url"]), :target => "_blank" %>
                    <p><%= strip_tags(event["web_description"]) if event["web_description"] %></p>
                </div>
              </div>
            </div>
    <% end %>
<% @goparsed["items"].shuffle.take(1).each do |event| %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator" <%= image_tag("Why.png") %>>
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-close right"></i></span>
                     <%= link_to "Click Here for More Information", (event["permalink"] if event["permalink"]), :target => "_blank" %>
                    <p><%= strip_tags(event["desc"]) if event["desc"] %></p>
                </div>
              </div>
            </div>
    <% end %>
</div>
</div>


</main>


