<h1><%= (@funday.date).strftime("%A %d %B") %></h1> -    

    <%#= form_for @funday do |f| %>
       <%#= f.text_field :date, class: "datepicker" %>
       <%#= f.submit %>
       <%# end %>
<h3> Your funday options </h3>


<% @parsed["results"].each do |event| %>

        <div class="row">
            <div class="col s12 m7">
              <div class="card small indigo lighten-2 ">
                  <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= strip_tags(event["event_name"]) if event["event_name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                <div class="card-action">
                    <%= link_to "More Information", (event["event_detail_url"] if event["event_detail_url"]), :target => "_blank" %>
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= strip_tags(event["event_name"]) %><i class="mdi-navigation-close right"></i></span>
                    <p><%= strip_tags(event["web_description"]) if event["web_description"] %></p>
                </div>
              </div>
            </div>
         </div>

<% end %>