    <div class='valign-wrapper'>
      <ul>
          <br>
          <br>
          <br>
        <li class="valign waves-effect waves-light indigo lighten-2 btn-large"><a href="#morning">Earlyish</a></li>
            <br>
        <li class="valign waves-effect waves-light indigo lighten-2 btn-large" ><a href="#afternoon">Noonish</a></li>
            <br>
        <li class="valign waves-effect waves-light indigo lighten-2 btn-large"><a href="#evening">Nightish</a></li>
            <br>
        <li class="valign waves-effect waves-light indigo lighten-2 btn-large" id="ref_butn">Freshen up</li>
        <br>
        <br>
        <br>
        <br>
        <!--<li class="fixed-action-btn" style="bottom: 45px; left: 24px;">-->
        <!--    <a class="btn-floating btn-large"> New Date-->
        <!--  <i class="large material-icons">mode_edit</i>-->
        <!--    </a>-->
        <!--    <ul>-->
        <!--        <li>-->
        <!--    <%#= form_for @funday do |f| %>-->
        <!--     <%#= f.text_field :date, class: "datepicker" %>-->
        <!--     <%# end %>-->
        <!--  </li>-->
        <!--</ul>-->
        <!--</li>-->
      </ul>
    </div>



<main>


<h1><%= (@funday.date).strftime("%A %d") %> will be a good day </h1>

<!--<button id="ref_butn">Refresh the page now!</button>-->
<button id= "ref_butn" class="btn indigo lighten-2 waves-effect waves-light"> Freshen your Funday <i class="mdi-content-send right"></i> </button>
<br>
<br>
    <%#= form_for @funday do |f| %>
       <%#= f.text_field :date, class: "datepicker" %>
       <%#= f.submit %>
       <%# end %>
      
    <div class = "section">
        <h3 class = "title"><a name='morning'> morning things to do</a></h3>
        <div class="row isotope">
            <% @ebparsed["events"].shuffle.each do |event| %>
             <% if (event["start"]["local"]) >= (((@funday.date).strftime("%Y-%m-%d")) + "T09:00:00") && (event["start"]["local"]) <= (((@funday.date).strftime("%Y-%m-%d")) + "T13:00:00") %>
                 <div class="col s12 m4">
                     <div class="card small indigo lighten-2">
                           <div class="card-image waves-effect waves-block waves-light">
                        <img class= "activator" src= <%= event["logo"]["url"] if event["logo"] %> alt="favicon.ico" >
                         </div>
                         <div class="card-content">
                           <h2 class="card-title activator grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-more-vert right"></i></h2>
                        </div>
                         <div class="card-reveal">
                             <span class="card-title grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-close right"></i></span>
                              <%= link_to "Click Here for More Information", (event["url"] if event["url"]), :target => "_blank" %>
                            <p><%= event["description"]["text"] if event["description"] %></p>
                            <p> <%= event["end"]["local"] if event["end"] %></p>
                        </div>
                        
                      </div>
                     </div>
                    <% end %>
                <% end %>
                
        
                <% @timesparsed["results"].shuffle.take(1).each do |event| %>
                <div class="col s12 m4">
                    <div class="card small indigo lighten-2 ">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class= "activator">
                        </div>
                        <div class="card-content">
                            <h2 class="card-title activator grey-text text-darken-4"><%= strip_tags(event["event_name"]) if event["event_name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= strip_tags(event["event_name"]) %><i class="mdi-navigation-close right"></i></span>
                            <%= link_to "Click Here for More Information", (event["event_detail_url"] if event["event_detail_url"]), :target => "_blank" %>
                            <p><%= strip_tags(event["web_description"]) if event["web_description"] %></p>
                        </div>
                     </div>
                     </div>
                    
                <% end %>

                <% @goparsed["items"].shuffle.take(1).each do |event| %>
                    <div class="col s12 m4">
                          <div class="card small indigo lighten-2 ">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img class= "activator" src= <%= event["logo"]["url"] if event["logo"] %>>
                                 </div>
                                <div class="card-content">
                                   <h2 class="card-title activator grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                                </div>
                             
                                 <div class="card-reveal">
                                     <span class="card-title grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-close right"></i></span>
                                     <%= link_to "Click Here for More Information", (event["permalink"] if event["permalink"]), :target => "_blank" %>
                                    <p><%= strip_tags(event["desc"]) if event["desc"] %></p>
                                </div>
                              </div>
                            </div>
                    <% end %>
                    
        </div>
</div>


<div class = "section">
<h3 class = "title"><a name='afternoon'> afternoon things to do</a> </h3>
  <div class="row">
    <% @ebparsed["events"].shuffle.each do |event| %>
 <% if (event["start"]["local"]) >= (((@funday.date).strftime("%Y-%m-%d")) + "T13:01:00") && (event["start"]["local"]) <= (((@funday.date).strftime("%Y-%m-%d")) + "T18:00:00") %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator" src= <%= event["logo"]["url"] if event["logo"] %>>
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                <div class="card-action">
                    
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-close right"></i></span>
                     <%= link_to "Click Here for More Information", (event["url"] if event["url"]), :target => "_blank" %>
                    <p><%= event["description"]["text"] if event["description"] %></p>
                </div>
              </div>
            </div>
    <% end %>
<% end %>
<% @timesparsed["results"].shuffle.take(1).each do |event| %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator">
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= strip_tags(event["event_name"]) if event["event_name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= strip_tags(event["event_name"]) %><i class="mdi-navigation-close right"></i></span>
                      <%= link_to "Click Here for More Information", (event["event_detail_url"] if event["event_detail_url"]), :target => "_blank" %>
                    <p><%= strip_tags(event["web_description"]) if event["web_description"] %></p>
                </div>
              </div>
            </div>

<% end %>
<% @goparsed["items"].shuffle.take(1).each do |event| %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator" src= <%= event["logo"]["url"] if event["logo"] %>>
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-close right"></i></span>
                     <%= link_to "Click Here for More Information", (event["permalink"] if event["permalink"]), :target => "_blank" %>
                    <p><%= strip_tags(event["desc"]) if event["desc"] %></p>
                </div>
              </div>
             </div>
    <% end %>
</div>
</div>

<div class = "section">
<h3 class = "title"><a name='evening'>evening things to do</a></h3>
    <div class="row">
    <% @ebparsed["events"].shuffle.each do |event| %>
     <% if (event["start"]["local"]) >= (((@funday.date).strftime("%Y-%m-%d")) + "T18:01:00") && (event["start"]["local"]) <= (((@funday.date).strftime("%Y-%m-%d")) + "T23:59:00") %>
                <div class="col s12 m4">
                  <div class="card small indigo lighten-2 ">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class= "activator" src= <%= event["logo"]["url"] if event["logo"] %>>
                     </div>
                    <div class="card-content">
                       <h2 class="card-title activator grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-more-vert right"></i></h2>
                    </div>
                     <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4"><%= event["name"]["text"] %><i class="mdi-navigation-close right"></i></span>
                          <%= link_to "Click Here for More Information", (event["url"] if event["url"]), :target => "_blank" %>
                        <p><%= event["description"]["text"] if event["description"] %></p>
                    </div>
                  </div>
                </div>
        <% end %>
    <% end %>
<% @timesparsed["results"].shuffle.take(1).each do |event| %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator">
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= strip_tags(event["event_name"]) if event["event_name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                <div class="card-action">
                  
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= strip_tags(event["event_name"]) %><i class="mdi-navigation-close right"></i></span>
                       <%= link_to "Click Here for More Information", (event["event_detail_url"] if event["event_detail_url"]), :target => "_blank" %>
                    <p><%= strip_tags(event["web_description"]) if event["web_description"] %></p>
                </div>
              </div>
            </div>
    <% end %>
<% @goparsed["items"].shuffle.take(1).each do |event| %>
            <div class="col s12 m4">
              <div class="card small indigo lighten-2 ">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class= "activator" src= <%= event["logo"]["url"] if event["logo"] %>>
                 </div>
                <div class="card-content">
                   <h2 class="card-title activator grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-more-vert right"></i></h2>
                </div>
                 <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><%= event["name"] %><i class="mdi-navigation-close right"></i></span>
                     <%= link_to "Click Here for More Information", (event["permalink"] if event["permalink"]), :target => "_blank" %>
                    <p><%= strip_tags(event["desc"]) if event["desc"] %></p>
                </div>
              </div>
            </div>
    <% end %>
</div>
</div>
</main>


