<!DOCTYPE html>
<html>
  <head>
    <title>Funday NYC</title>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM4hhVyLY6iTArUsZ4Pommh_kJIABlF9E"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </style>
  </head>
  


    <%= yield %>

  </body>
</html>
